body{
    margin: 0;
    padding: 0;
    background: url(bg.png) no-repeat;
    background-size: cover;
    font-family: "montserrat",sans-serif;
    color: #fff;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu ul li a:hover{
    background-color: firebrick;
}

.menu ul li ul li{
    display: none;
}

.menu ul li:hover ul li{
    display: block;
}